/* app/(auth)/signup/verify-email/success/page.module.css */
.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;
}

.titleSection {
  text-align: center;
}

.checkIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkSvg {
  width: 64px;
  height: 64px;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-standard);
}
