.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-standard);
}
