.container {
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
