.container {
  display: flex;
  width: 100%; /* Change from 600px to 100% */
  max-width: 600px; /* Add this line */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.title {
  font-size: 2rem;
}

.titleRow {
  gap: 12px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
